@{
    ViewData["Title"] = "Student";
}

<div class="container">
    <div class="custom-page-header">
        <div class="info">
            <div class="title">Student</div>
            <div class="description">In this page you can view all the Students that is stored in the System.</div>
        </div>
    </div>

    <table class="table table-sm table-striped"
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Address</th>
                <th>Birthdate</th>
                <th>Contact No.</th>
                <th>Email Address</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" class="form-control" />
                </td>
                <td>Vincent Pantia</td>
                <td>07-D Durian St. Area 9 Brgy. Pasong Tamo Quezon City</td>
                <td>06/12/1999</td>
                <td>09688718677</td>
                <td>vincent.m.pantia@gmail.com</td>
                <td>Active</td>
                <td>02/23/2023</td>
                <td>N/A</td>
                <td>
                    <button class="btn-primary">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
